# This file is configured first with ansible and variables
# You can then import into inventory and set other host variables (if not inheriting from group_vars)

hostname: {{ inventory_hostname }}
{% if ansible_bios_vendor == 'Amazon EC2' and pub_ip is defined %}
ip: {{ pub_ip }}
{% elif ansible_default_ipv4.address is defined %}
ip: {{ ansible_default_ipv4.address }}
{% else %}
ip: {{ ansible_all_ipv4_addresses[0] }}
{% endif %}
netmask: {{ ansible_default_ipv4.netmask| default('') }}
gateway: {{ ansible_default_ipv4.gateway | default('')}}
{% if ansible_default_ipv6.address is defined %}
ipv6: {{ ansible_default_ipv6.address }}
prefix6: {{ ansible_default_ipv6.prefix }}
gateway6: {{ ansible_default_ipv6.gateway }}
{% endif %}
macaddress: {{ ansible_default_ipv4.macaddress | default('')}}
dns: 
{%- for ns in ansible_dns.nameservers %} 
  - {{ ns }} 
{%- endfor %}

hardware_vendor: {{ ansible_system_vendor }}
product_name: {{ ansible_product_name }}
serial_number: {{ ansible_product_serial }}

{% if ansible_bios_vendor == 'Amazon EC2' %}
# This host is hosted in AWS so here are relevant informations
aws_ec2_instance_id: {{ ec2_instance_id.content }}
aws_ec2_region: {{ ec2_instance_region.content }}
aws_ec2_securitygroup: {{ ec2_instance_sg.content }}
{% else %}
root_password: 

sponsor_name:
sponsor_url: 
sponsor_location: 
sponsor_portal:
  - url: 
  - user: 
  - password: 
sponsor_contacts: []
{% endif %}


