#!/bin/bash
{% if kvm_guest_bridge == True %}
 {% set kvm_guest_network = 'bridge=' + kvm_host_bridge %}
{% else %}
 {% set kvm_guest_network = 'network=' + kvm_guest_default_net %}
{% endif %}

{% if kvm_guest_eth1_bridge is defined %}
 {% set kvm_guest_eth1_network = 'bridge=' + kvm_guest_eth1_bridge %}
{% endif %}

virt-install \
  --name  {{ inventory_hostname }} \
  --vcpus {{ kvm_guest_vcpus }} \
{% if not kvm_guest_arch == 'aarch64' -%} 
  --cpu host \
{% endif %}
  --ram  {{ kvm_guest_memory }} \
  --disk path=/var/lib/libvirt/images/{{ inventory_hostname}}.qcow2,size={{ kvm_guest_disk_size }},format=qcow2,device=disk,bus=virtio,cache=none \
  --nographics \
  --network {{ kvm_guest_network }} \
{% if kvm_guest_eth1_bridge is defined %}
  --network {{ kvm_guest_eth1_network }} \
{% endif %}
  --hvm --accelerate \
  --autostart --wait=-1 \
  --noautoconsole \
  --initrd-inject=/var/lib/libvirt/local-kickstarts/{{ inventory_hostname }}.cfg \
{% if kvm_guest_arch == 'power9' %}
  --extra-args "console=hvc0 console=hvc1 ks=file:/{{ inventory_hostname }}.cfg" \
{% else %}
  --extra-args "console=ttyS0 ks=file:/{{ inventory_hostname }}.cfg" \
{% endif %}
{% if kvm_guest_arch == 'ppc64le' or kvm_guest_arch == 'ppc64' or kvm_guest_arch == 'power9' or kvm_guest_arch == 'aarch64' %}
  --location  http://mirror.centos.org/altarch/{{ kvm_guest_distro_release }}/os/{{ kvm_guest_arch }}/ 
{% else %}
  --location  http://mirror.centos.org/centos/{{ kvm_guest_distro_release }}/os/{{ kvm_guest_arch }}/ 
{% endif %}


