[general]
arch = x86_64
family = Red Hat CoreOS
platforms = x86_64
version = {{ rhcos_version }}
[images-x86_64]
initrd = rhcos-{{ rhcos_version }}-x86_64-live-initramfs.x86_64.img
kernel = rhcos-{{ rhcos_version }}-x86_64-live-kernel-x86_64
