DEFAULT {{ inventory_hostname }}-deploy
PROMPT 0
TIMEOUT 50
TOTALTIMEOUT 6000
ONTIMEOUT {{ inventory_hostname }}-deploy

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT 0

LABEL {{ inventory_hostname}}-deploy
        MENU LABEL RHCOS {{ rhcos_version }} {{ arch }}- Kickstart for {{ inventory_hostname }}
        KERNEL http://{{ http_server_ip }}/rhcos-{{ rhcos_version }}-{{ arch }}-installer-kernel-{{ arch }}
        APPEND ip={{ host_ip }}:dhcp rd.neednet=1 initrd=http://{{ http_server_ip }}/rhcos-{{ rhcos_version }}-{{ arch }}-installer-initramfs.{{ arch }}.img console=tty0 console=ttyS0 coreos.inst=yes rd.md=1 rd.auto coreos.inst.install_dev={{ md-raid-dev }} coreos.inst.image_url=http://{{ http_server_ip }}/rhcos-{{ rhcos_version }}-{{ arch }}-metal.{{ arch }}.raw.gz coreos.inst.ignition_url=http://{{ http_server_ip }}/bootstrap.ign

