DEFAULT {{ inventory_hostname }}-deploy
PROMPT 0
TIMEOUT 50
TOTALTIMEOUT 6000
ONTIMEOUT {{ inventory_hostname }}-deploy

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT 0

LABEL {{ inventory_hostname}}-deploy
        MENU LABEL RHCOS {{ rhcos_version }} {{ arch }}- Kickstart for {{ inventory_hostname }}
        KERNEL rhcos-{{ rhcos_version }}-{{ arch }}-installer-kernel-{{ arch }}
        APPEND ip={{ ip }}::{{ gateway }}:{{ netmask }}:{{ inventory_hostname }}:{{ pxe_bootdev }}:none nameserver={{ nameserver }} rd.neednet=1 initrd=rhcos-{{ rhcos_version }}-{{ arch }}-installer-initramfs.{{ arch }}.img console={{ kernel_console | default('tty0')}} coreos.inst=yes rd.md=1 rd.auto coreos.inst.install_dev={{ md_raid_dev }} coreos.inst.image_url={{ rhcos_install_img_url }} coreos.inst.ignition_url={{ rhcos_ignition_file_url }}

