# Merging CI and previous setup so different variables, let's merge
{% set centos_version = centos_dist %}
{% set arch = centos_arch %}
# Let's setup for Serial console for CI and seamicro (no vga at all)
{% if pxe_boot_serial is defined and pxe_boot_serial %}
SERIAL 0 9600
DEFAULT text
{% endif %}
DEFAULT {{ inventory_hostname }}-deploy
PROMPT 0
TIMEOUT 50
TOTALTIMEOUT 6000
ONTIMEOUT {{ inventory_hostname }}-deploy

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT 0

LABEL {{ inventory_hostname}}-deploy
        MENU LABEL CentOS {{ centos_version }} {{ arch }}- Kickstart for {{ inventory_hostname }}
        kernel boot/centos/{{ centos_version }}/{{ arch }}/vmlinuz
	      append initrd=boot/centos/{{ centos_version }}/{{ arch }}/initrd.img net.ifnames=0 biosdevname=0 ip={{ pxe_bootdev }}:dhcp inst.ks={{ ks_url }}/{{ inventory_hostname }}-ks.cfg {%if pxe_boot_serial is defined and pxe_boot_serial %} console=ttyS0,115200n8 {% endif %} 
