# Merging CI and previous setup so different variables, let's merge
{% if centos_dist is defined %}
{% set centos_version = centos_dist %}
{% set arch = centos_arch %}
{% endif %}

{% if centos_infra_env == "qa" %}
{% set pxe_base_dir = 'qa' %}
{% else %}
{% set pxe_base_dir = 'boot' %}
{% endif %}

{% if rhel_version is defined %}
{% set pxe_boot_dir = 'rhel' %}
{% set os_version = rhel_version %}
{% else %}
{% set pxe_boot_dir = 'centos' %}
{% set os_version = centos_version %}
{% endif %}

{% if pxe_boot_serial is defined and pxe_boot_serial %}
# Let's setup for Serial console for CI and seamicro (no vga at all)
SERIAL 0 9600
DEFAULT text
{% endif %}
DEFAULT {{ inventory_hostname }}-deploy
PROMPT 0
TIMEOUT 50
TOTALTIMEOUT 6000
ONTIMEOUT {{ inventory_hostname }}-deploy

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT 0

LABEL {{ inventory_hostname}}-deploy
        MENU LABEL Deploying {{ inventory_hostname }} - kickstart (OS {{ os_version }}/{{ arch }})
        kernel {{ pxe_base_dir }}/{{ pxe_boot_dir }}/{{ os_version }}/{{ arch }}/vmlinuz
	      append initrd={{ pxe_base_dir }}/{{ pxe_boot_dir }}/{{ os_version }}/{{ arch }}/initrd.img net.ifnames=0 biosdevname=0 ip={{ pxe_bootdev }}:dhcp inst.ks={{ ks_url }}/{{ inventory_hostname }}-ks.cfg {%if pxe_boot_serial is defined and pxe_boot_serial %} console=ttyS0,115200n8 {% endif %} 
